services:
  app:
    build: .
    ports:
      - "3333:3333"
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=docker
      - DB_NAME=gobarber
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_NAME=gobarber
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - APP_API_URL=http://localhost:3333
      - APP_WEB_URL=http://localhost:3000
    depends_on:
      - postgres
      - mongo
      - redis

  postgres:
    image: postgres:14-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=gobarber
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  mongodata:
  redisdata:
